    html {
        box-sizing: border-box;
        height: 100%;
        }
    *, *:before, *:after {
        box-sizing: inherit;
        }

    body {

        text-align: center;
        background-color: #033069;
        background-image: linear-gradient(to right, #03518f , #03235e);
        }

    .logo{
        margin: 5;
    }

    h1 {
        font-family: 'Peralta', cursive;
        margin:16px;
        color: white;
        font-size: 2em;
        text-shadow: 3px 5px black;
    }

    h2 {
        color: white;
        font-family: 'Oswald', sans-serif;
        background: #03316e; 
        margin: 10px;   
        border: solid 1px white;
        padding: 8px;
        font-size: 1.5em;
    }

    #timer {
        font-family: 'Vollkorn', serif;
        font-size: 1.3em;
        height: 20px;
        color: white;
        padding-top: 10px;
    }

    .mainContainer {
        background-color: rgba(4, 41, 111, 0.9);
        background-image: url("../images/background_high3.jpg");
        height: 425px;
    }

    .insideContainer{
        background-color: rgba(0, 0, 0, 0.6);
        width: 650px;
        height: 350px;
        margin: 0 auto;
        border: solid 1px white;
        box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    }

    button{
        background:rgb(221, 235, 252);
        color:#003553;
        border:none;
        position:relative;
        height:40px;
        font-size:1.4em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        margin: 10px 0;
        font-family: 'Mukta', sans-serif;
        font-weight: bold;
        border-top: solid 2px rgba(252,215,32);
        border-bottom: solid 2px rgba(252,215,32);
        width: 300px;
    }
    button:hover{
        background:rgba(252,215,32);
        color:#03316e;
    }
    button:before,button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: rgba(252,215,32);
        transition:400ms ease all;
    }
    button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    button:hover:before,button:hover:after{
        width:100%;
        transition:800ms ease all;
    }
    .start {
        margin-top: 100px;
    }

    .end {
        margin: 5px 0;
        height:40px;
        font-size:1em;
        width: 250px;
        height:25px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1.2em;
        padding: 5px;
    }

    .results {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1.2em;
        margin: 0;
        margin-bottom: 5px;
    }

    img {
        border: solid 1px white;
    }

    .logo {
        border: none;
    }
    img {
        width: 300px;
        height: 200px;
    }



    @media screen and (min-width: 381px) and (max-width: 690px) {

        .mainContainer {
            height: 425px;
        }
    
        .insideContainer{
            width: 100%;
            height: auto;
            padding: 20px;
            /* margin: 0 auto;
            border: solid 1px white;
            box-shadow: 1px 2px rgba(0, 0, 0, 0.5); */
        }
        button{
           
            width: 300px;
            height: 40px;
        }


    }

    @media screen and (max-width: 380px) {

        h2 {
            font-size: 1em;
        }

        .mainContainer {
            width: 100%;
            height: auto;
            padding: 20px;
        }
    
        .insideContainer{
            width: 100%;
            height: auto;
            padding: 20px;
        }


        button{
            width: 100%;
            height: auto;
            font-size:1em;
            
        }

        .end {
            font-size:0.7em;
            width: 100%;
            height:auto;
        }

        img {
            width: 100%;
            height: 200px;

        }

        p {
            font-size: 0.8em;
        }


    }
    